/* Order Address */
.orderAddress__main {
  margin-top: 1rem;
  border: 1px solid #444;
  padding: 5px 10px;
  border-radius: 5px;
}

.orderAddress__main h1 {
  font-size: 1.5rem;
  text-align: center;
}

/* Orderd product */
.orderProduct__main {
  margin-top: 1rem;
  border: 1px solid #444;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.orderProduct__main h1 {
  font-size: 1.5rem;
  text-align: center;
}

.orderProduct__container {
  display: flex;
  align-items: center;
  overflow-x:auto;
  width:100%;
  justify-content: center;
}

.orderProduct__card{
  display: flex;
  align-items: center;
  padding:5px;
  /* border-right:1px solid #333; */
}

.orderProduct__img {
  width: 5vw;
  height: 15vh;
}

.orderProduct__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.orderProduct__details {
  margin-left: 0.5rem;
}

.orderProduct__details h1 {
  font-size: 1rem;
}

.orderProduct__details p {
  font-size: 0.7rem;
}

/* Order Status */
.orderStatus__main {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.orderStatus__main h1 {
  font-size: 1rem;
  text-align: left;
  margin-left: 1rem;
}

.orderStatus__line {
  margin-top: 1rem;
  padding: 0px 30px;
  position: relative;
}

.orderStatus__orderd {
  background-color:blueviolet;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -9px;
  border-radius: 10px;
}

.orderStatus__canceled,
.orderStatus__shipped,
.orderStatus__packed,
.orderStatus__deliverd {
  height: 20px;
  width: 20px;
  position: absolute;
  top: -9px;
  right: 10px;
  border-radius: 10px;
}

.orderStatus__canceled{
  background-color: red;
}

.orderStatus__shipped{
  background-color: blue;
}

.orderStatus__packed{
  background-color: aqua;
}

.orderStatus__deliverd{
  background-color: greenyellow;
}

.orderStatus__details_left {
  position: absolute;
  top: 5px;
}

.orderStatus__details_left p {
  font-size: 0.7rem;
  display: inline;
}

.orderStatus__line__main {
  background-color: #444;
  height: 1px;
}

.orderStatus__details_right {
  position: absolute;
  top: 5px;
  right: 5px;
}

.orderStatus__details_right p {
  font-size: 0.7rem;
  display: inline;
}

/* Media Screen */
@media screen and (max-width: 700px) {
  .orderProduct__img {
    width: 20vw;
    height: 30vh;
  }

  .orderProduct__details h1 {
    font-size: 0.7rem;
  }

  .orderProduct__details p {
    font-size: 0.5rem;
  }

  .orderStatus__main h1 {
    font-size: 0.7rem;
  }

  .orderStatus__details_left {
    left: 0;
  }

  .orderStatus__details_left p {
    font-size: 0.5rem;
  }

  .orderStatus__details_right p {
    font-size: 0.5rem;
  }
  .orderStatus__details_right {
    right: 0;
  }

  .orderStatus__orderd {
    background-color: green;
    height: 10px;
    width: 10px;
    top: -5px;
  }

  .orderStatus__canceled,
  .orderStatus__shipped,
  .orderStatus__packed,
  .orderStatus__deliverd {
    background-color: yellow;
    height: 10px;
    width: 10px;
    top: -5px;
    right: 20px;
  }
}
