/* Sales Filter */
.salesFilter__main {
  display: flex;
  gap: 20px;
}

.salesFilter__year {
  margin-left: 1rem;
}

.salesFilter__year select {
  padding: 5px 20px;
  border: 1px solid #444;
  border-radius: 5px;
}

.salesFilter__month {
  margin-left: 1rem;
}

.salesFilter__month select {
  padding: 5px 20px;
  border: 1px solid #444;
  border-radius: 5px;
}

.salesFilter__date {
  display: flex;
  align-items: center;
}

.salesFilter__date label{
    margin-left: 1rem;
}

.salesFilter__date input {
  padding: 3px 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.salesFilter__date button{
    margin-left:1rem;
    border:1px solid #333;
    background: #444;
    color:white;
    padding:2px 5px;
    border-radius: 5px;
}

.salesFilter__button button{
  padding:3px 5px;
  margin-right: 1rem;
  border:none;
  background-color: green;
  color:white;
  border-radius:2 px;
}

.salesFilter__button{
  display: flex;
  flex: 1;
  justify-content: end;
}