*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

/* List Users */
.listUsers-nav {
  margin-left: 3rem !important;
}

.listUsers-nav button {
  margin-left: 1rem;
  margin-top: 1rem;
}

/* product */
.product-preview_image {
  height: 100px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-create-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.progress-bar-product {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* spinner */
.spinner-loading {
  position: absolute;
  left: 30vw;
  top: 69%;
  background: aliceblue;
  padding: 10px;
}

.spinner-loading-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/** category **/
.categorymain-editing {
  display: block;
  padding: 10px;
  margin: auto;
  font-size: 1.3rem;
  font-weight: 600;
}

/** pagination **/
.MuiPagination-root {
  position: absolute !important;
  display: flex !important;
  justify-content: center !important;
}

@media screen and (max-width: 700px) {
  .MuiPagination-root {
    left: 0 !important;
    margin-top: 1rem !important;
  }
}

/* My style */
.sort_button {
  margin-left: 1rem;
}

.sort_button button {
  padding: 3px 10px;
  border: none;
  color: white;
  background: black;
}

.search_input {
  display: flex;
  margin-left: 1rem;
  border: 1px solid black;
  flex: 0.5;
  padding: 3px 5px;
  border-radius: 5px;
}

.search_input input {
  border: none;
  flex: 1;
}

.createProduct__btn {
  position: absolute;
  top: 20px;
  right: 0px;
}

.product-preview_image{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* Product create */
.product__form{
  margin-top: 1rem;
}

.product__form input{
  width: 100%;
  border-radius: 8px;
  padding:4px 5px;
  font-size: 12px;
}

.product__form img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 1rem;
  margin-top: 0;
}

.product__form select{
  width: 100%;
}

.product__form textarea{
  width: 100%;
  border-radius: 4px;
  padding:5px 5px;
  font-size: 12px;
}

.product__form button{
  padding:2px 10px;
  background-color: red;
  border:none;
  color:white;
  font-weight: 500;
  border-radius: 3px;
}

@media screen and (max-width:700px) {
  .category_selector{
    padding: 0 !important;
  }

  .search_input{
    display: none;
  }
}

.modal-content{
  margin-top: -1rem !important;
}