div.homeCategory__main {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  align-items: center;
}

.homeCategory__mainCategorys {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.homeCategory__canvas {
  display: none;
}

.homeCategory__canvas button {
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: none;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  .homeCategory__mainCategorys {
    display: none;
  }

  .mainCategory__main {
    font-size: 12px;
  }

  .homeCategory__mainCategorys {
    display: none;
  }

  .mainCategory__main {
    margin-top: 1rem;
    border: 1px solid black;
    padding: 5px 10px;
  }

  .homeCategory__canvas {
    display: block;
  }
}

/* =================================== */
/* CSS Document */
.productCard__main {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;

  box-shadow:  0 2px 4px 0 rgb(0 0 0 / 23%);
}

.productCard__img {
  width: 17vw;
  height: 20vh;
}

.productCard__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productCard__details {
  height: 15vh;
}

.productCard__title {
  display: block;
  font-weight: 500;
  font-size: 13px;
  padding: 3px 10px;
}


@media screen and (max-width:700px) {
    .productCard__details{
        height: 10vh;
    }
}