.navbar__main{
  padding: 0.4rem 0;
  background-color: white;
  color:#444;
  font-size: 13px;
  letter-spacing: 0.3px;
  font-weight: 600;
  position: sticky;
  top:0;
  z-index: 1;
}

a{
  color:#444 !important;
}

.navbar__list{
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  cursor: pointer;
}

.navbar__home_icon{
  flex:0.2;
  display: flex;
  justify-content: end;
}

.navbar__home_icon img{
  max-width: 100px;
  object-fit: contain;
}

.navbar__search_list{
  flex: 0.5;
  margin-left: 1rem;
}

.navbar__search{
  border: 1px solid #444;
  background-color: white;
  display: flex;
  border-radius: 2px;
}

.navbar__search input{
  padding:2px 5px;
  border: none;
  flex: 1;
  color:black;
  font-size: 12px;
}

.navbar__search input:focus{
  outline: none;
}

.navbar__search button{
  background:none;
  border:none;
}

.navbar__search button svg{
  color:black;
}

.navbar__myAccount{
  flex:0.2;
  display: flex;
  justify-content: end;
}

.navbar__myAccount{
  margin-bottom: 0;
}

.navbar__cart{
  margin-left: 1rem;
}

.navbar__offcanvas{
  display: none;
  margin-left: 1rem;
}


@media screen and (max-width:700px) {
  .navbar__offcanvas{
    display: block;
  }

  .navbar__cart{
    display: none;
  }

  .navbar__home_icon img{
    max-width: 60px;
  }
  

  .navbar__myAccount{
    display: none;
  }

  .navbar__search_list{
    flex: 0.6;
  }
}